:root {
  /*--primary: ;*/
  --primary: #2f4858; 
  --secondary: #6ca6c1;
  --display: #cee7e6;
  --digits: #406277;
  --dark: #131a26;
  --light: #eee;
  --button-width: 80px;
  --button-height: 100px;
  --fweight: 700;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body{
  background-color: var(--light);
}

.App{
  display: flex;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 20px;
}

.memory{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 250px;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 5px;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.memory h1{
  padding: 0.5em;
}

.memory_internal_container
{
  justify-content: center;
  align-items: center;
}

.memory p{
  font-size: x-large;
  padding: 0.5em;
}



.calculator{
  width: 100%;
  max-width: 500px;
  background-color: #FFF;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.display{
  padding: 16px;
  text-align: right;
  background-color: var(--display);
  color: var(--dark);
  font-size: 24px;
  font-weight: 300;
}

.extra_buttons{
  background-color: var(--display);
}

.extra_buttons button{
  width: var(--button-width); 
  font-weight: var(--fweight);
  color: var(--dark);
  background-color: var(--display);
}

.memory_buttons{
  display: grid;
  grid-template-columns: repeat(6, var(--button-width));
  background-color: var(--display);
}
.memory_buttons button{
  width: 100%;
  font-weight: var(--fweight);
  color: var(--dark);
  background-color: var(--display);
}

.trigoNfunc{
  
  background-color: var(--display);
}

.trigoNfunc button
{
  margin: 1%;
  background-color: var(--primary);
  border-radius: 200px;
  color: var(--light);
}

.trigo-container {
  position: relative;
}

.trigo
{
  opacity: 95%;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 10px;
  background-color: var(--display);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  display: grid;
  grid-template-columns: repeat(4, var(--button-width));
  grid-template-rows: repeat(2, var(--button-height));
  
  background-color: var(--light);
  z-index: 1;
}

.trigo button{
  width: 100%;
  margin: 0;
  border-radius: 0;
  background-color: var(--primary);
}

.func-container
{
  position: relative;
}

.func{
  opacity: 95%;
  position: absolute;
  top: 5px;
  left: 175px;
  border-radius: 10px;
  background-color: var(--display);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  display: grid;
  grid-template-columns: repeat(3, var(--button-width));
  grid-template-rows: repeat(2, var(--button-height));
  
  background-color: var(--light);
  z-index: 1;
}

.func button{
  width: 100%;
  margin: 0;
  border-radius: 0;
  background-color: var(--primary);
}



.buttons_container{
  display: flex;
}

.secondary_buttons{
  display: grid;
  grid-template-rows: repeat(2, var(--button-width));
  grid-template-columns: repeat(3, var(--button-height));
  background-color: var(--light);
}

.secondary_buttons button{
  font-weight: var(--fweight);
  background-color: var(--primary);

}
.non-changing-buttons{
  display: grid;
  grid-template-rows: var(--button-width);
  grid-template-columns: repeat(5, var(--button-height));
  background-color: var(--light);

}

.non-changing-buttons button{
  width: 100%;
  font-weight: var(--fweight);
  background-color: var(--primary);
}


.display span {
  font-size: 14px;
  color: #888;
}

button{
  appearance: none;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}
button:hover{
  opacity: 0.9;
}

.operators {
  display: grid;
  grid-template-rows: repeat(5, var(--button-width));
  grid-template-columns: var(--button-height);
 
  background-color: var(--light);
}

.operators button{
  box-shadow: var(--display);
  border: 0;
  background-color: var(--primary);
  font-weight: 700;
}

.scientific_operators
{
  display: grid;
  grid-template-rows: repeat(5, var(--button-width));
  grid-template-columns: var(--button-height);
  background-color: var(--light);
}


.scientific_operators button{
  background-color: var(--primary);
  font-weight: 700;
}

.digits {
  transition: 0.2s;
  display: grid;
  grid-template-rows: repeat(4, var(--button-width));
  grid-template-columns: repeat(3, var(--button-height));
  background-color: var(--dark);
}

.digits:hover
{
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
  scale: 101%;
}

.digits button {
  background-color: var(--digits);
}

#equalto{
  background-color: var(--secondary);
}

#second_not_pressed{
  width: 100%;
  font-weight: var(--fweight);
  background-color: var(--primary);
}
#second_pressed{
  width: 100%;
  font-weight: var(--fweight);
  background-color: var(--secondary);
} 